# STARTING PORT FOR AGENT PORTS
AGENT_PORTS=3700
## How many concurrent ports and session can we run
AGENT_MAX=21
#AGENT_MODE=tmux
TMUX_BASE="wingman-agents"
IDENTITY_SESSION_SECRET=

# Port for the main Webapp
PORT=3021
# Start Directory
DIRECTORY_DEF='~/code'
# ALLOWED FOLDERS FOR ACCESSS - THIS WILL RESTRICT WINGMAN TO ONLY SHOW THE FOLLOWING FOLDERS IN FILE BROWSERS
FOLDERACCESS=~/code,~/Documents,~/Wingman

AGENTAPI_ALLOWED_HOSTS="localhost,127.0.0.1,[::1]"

# TRIGGERS  Details for triggering agent sessions programatically.

# SET ADMIN NPUB FOR SIMPLPE SETUP AND FREE CREDITS
ADMIN_NPUB=
